@media screen and (min-width: 1200px){
    .content_desktop__wide{
        margin-left: 280px;
    }
    .content{
        margin-top: 18px;
    }
    .navbar{
        width: 255px;
    }
    .weeklyQuests{
        margin-bottom: 26px;
    }
    .weeklyQuests-subtitle{
        margin-bottom: 15px;
    }

}

@media screen and (min-width: 1440px){
    .content_desktop__wide{
        margin-left: 325px;
    }
    .navbar{
        width: 280px;
    }
}

@media screen and (min-width: 1920px){
    .content_desktop__wide{
        margin-left: 425px;
    }
}
